.default-page {
    align-items: center;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

.title-page {
    font-size: 40px;
    justify-content: center;
}

.texto-page{
    background-color: #164597;
    padding: 60px 0px;
}

.texto-page .box-texto{
    padding: 0 200px;
    font-size: 40px;
    color: #FFF;
    line-height: 55px;
    text-align: justify;
}

.video-container{
    
}