.header {
    text-align: center;
    font-family: Inter, Helvetica, sans-serif;
    padding: 10px 0;
    background-color: #211172 !important;
}


.title{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.slogan {
    text-align: center;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
}